html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Cinzel", serif;
  margin: 0;
  background-image: linear-gradient(260deg, #d0d1e6 0%, #0570b0 100%);
}

.masthead a {
  color: white;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.masthead a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

section,
footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px 0;
  color: white;
  font-weight: 100;
}

#intro p {
  font-family: "Lato", san-serif;
  font-size: 1em;
  text-align: left;
  line-height: 1.4em;
}

footer a {
  color: white;
}
